body{
	background-color: #e6e6e6;
}

hr{
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


.row_cursos{
	padding: 5px 5px 5px 5px;
}

.div_list{
	border: 1px solid #000000;
	box-shadow: 4px 4px 10px #999;
	-webkit-box-shadow: 4px 4px 10px #999;
	-moz-box-shadow: 4px 4px 10px #999;

	min-height: 200px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	background-color: white;
}

.div_list2{
	border: 1px solid #000000;
	box-shadow: 4px 4px 10px #999;
	-webkit-box-shadow: 4px 4px 10px #999;
	-moz-box-shadow: 4px 4px 10px #999;

	min-height: 200px;
	margin-top: 10px;
	
	background-color: white;
}

.div_list:hover {
	background-color: black;
}

.album_list{
	padding: 0 0;
	min-height: 200px;
	margin-bottom: 10px;
}

.imagen_div{
	width: 100%;
}

.espaciado{
	padding: 5px 5px 5px 5px;
}

.titulo_curso{
	height: 80px;
}

.div{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
	box-shadow: 4px 4px 10px #999;
	-webkit-box-shadow: 4px 4px 10px #999;
	-moz-box-shadow: 4px 4px 10px #999;
}

.border1{
	border: 1px solid #000000;
}
